<!DOCTYPE html>
<html>
    <head>
        <title>Wired Up 1.0</title>
        <link rel ="icon" type ="image/x-icon" href="src/assets/icons/favicon.png">
        <link rel="stylesheet" href="src/assets/stylesheets/index.css">
        <link rel="stylesheet" href="src/assets/stylesheets/sidebar.css">

        <!-- the following says there are javascript source code contained in
             the external source files
        -->
        <!-- external library -->
        <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> -->
        <script type="text/javascript" src="src/lib/Angular.js"></script>
        <script type="text/javascript" src="src/lib/color-picker.js"></script>
        <script type="text/javascript" src="src/lib/gl-matrix.js"></script>
        <script type="text/javascript" src="src/lib/webgl-obj-loader.js"></script>
        <script type="text/javascript" src="src/lib/helper-functions.js"></script>
        <!-- bootstrap-colorpicker-module -->
        <link rel="stylesheet" href="src/lib/css/colorpicker.css"/>
        <script type="text/javascript" src="src/lib/bootstrap-colorpicker-module.min.js"></script>

        <!-- Engine code: Graphics Support -->
        <!-- Core of Engine -->
        <script type="text/javascript" src="src/Engine/Core/Engine_Core.js"></script>
        <script type="text/javascript" src="src/Engine/Core/Engine_VertexBuffer.js"></script>
        <script type="text/javascript" src="src/Engine/Core/Engine_MouseSupport.js"></script>
        <script type="text/javascript" src="src/Engine/SimpleShader.js"></script>
        <script type="text/javascript" src="src/Engine/Renderable/Renderable.js"></script>
        <script type="text/javascript" src="src/Engine/Renderable/SquareRenderable.js"></script>
        <script type="text/javascript" src="src/Engine/Renderable/SquareBorder.js"></script>
        <script type="text/javascript" src="src/Engine/Renderable/CircleRenderable.js"></script>
        <script type="text/javascript" src="src/Engine/Renderable/MeshRenderable.js"></script>
        <script type="text/javascript" src="src/Engine/Renderable/SceneNode.js"></script>
        <script type="text/javascript" src="src/Engine/Transform/Transform.js"></script>
        <script type="text/javascript" src="src/Engine/Transform/PivotedTransform.js"></script>
        <script type="text/javascript" src="src/Engine/Camera/Camera.js"></script>
        <script type="text/javascript" src="src/Engine/Camera/Camera_Mouse.js"></script>

        <!-- GUI Lib -->
        <script type="text/javascript" src="src/GUI/CSS450Timer.js"></script>
        <script type="text/javascript" src="src/GUI/CSS450Slider.js"></script>
        <script type="text/javascript" src="src/GUI/CSS450Xform.js"></script>
        <script type="text/javascript" src="src/GUI/CanvasMouseSupport.js"></script>

        <!-- My application code -->
        <script type="text/javascript" src="src/MainController.js"></script>
        <script type="text/javascript" src="src/lib/key-listener.js"></script>
        <script type="text/javascript" src="src/App/ClassExample.js"></script>
        <script type="text/javascript" src="src/App/ClassExample_MouseOver.js"></script>
        <script type="text/javascript" src="src/App/ArmSegment.js"></script>
        <script type="text/javascript" src="src/App/SceneNodeManipulator.js"></script>
        <script type="text/javascript" src="src/App/ViewManipulator.js"></script>
        <script type="text/javascript" src="src/App/Dragger.js"></script>
    </head>

    <body
         ng-app="appMyExample"
         ng-controller="MainCtrl">

    <shortcut></shortcut>
    <css-timer id="idMainControllerTimer"
               interval="40"
               timeron="true"
               callback="mainTimerHandler"></css-timer>

    <div id="container">
        <div class="logo-wrapper">
            <div class="logo"></div>    
        </div>

        <div id="canvas-wrapper">
            <canvas
                ng-mousemove="serviceMove($event)"
                ng-mousedown="serviceDown($event)"
                ng-mouseup="serviceUp($event)"
                ng-mouseleave="serviceLeave($event)"
                id="GLCanvas" width="800" height="600">
                <!-- GLCanvas is the area we will draw in: a 640x480 area. -->
                Your browser does not support the HTML5 canvas.
                <!-- this message will show only if WebGL clearing failed -->
            </canvas>

        </div>
        
        <div class="sidebar">
            <div class="category">
                <div class="category-title"> Color </div>
                <div class="category-container">
                    <input 
                        class="textfield" 
                        colorpicker type="text"
                          colorpicker-position="right"
                          ng-model="mColor"
                          size="6"
                          style="background-color:{{mColor}}">                
                </div>
            </div>

            <div class="category">
                <div class="category-title"> World Coordinate Position </div>
                <div class="category-container">
                    <input class="textfield" type="text" ng-model="mMouseOver" size=50 readonly>             
                </div>
            </div>

            <div class="category">
                <div class="category-title"> Tools </div>
                <div class="category-container">
                    <div class="tool-icon-wrapper">
                        <div class="delete-icon" ng-click="deleteSceneNode()"></div>
                    </div>
                    <div class="tool-icon-wrapper">                        
                        <div class="merge-icon" ng-click="combineSceneNodes()"></div>
                    </div>
                </div>
            </div>

            <div class="category">
                <div class="category-title"> Camera </div>
                <div class="category-container">
                    <div class="tool-icon-wrapper">
                        <div class="zoom-icon" ng-click="recenterCamera()"></div>
                    </div>
                </div>
            </div>

            <div class="category">
                <div class="category-title">Basic Shape</div>
                <div class="category-container">
                    <div class="shape-wrapper">
                        <img class="shape-icon" src="./src/assets/built-in-shapes/basic-square.png"
                            ng-mousedown="changeShapeState('0')" 
                            ng-mouseup="changeShapeState('-1')">
                    </div>

                    <div class="shape-wrapper">
                        <img class="shape-icon" src="./src/assets/built-in-shapes/basic-circle.png"
                        ng-mousedown="changeShapeState('1')" 
                        ng-mouseup="changeShapeState('-1')">
                    </div>
                </div>
            </div>

            <div style="color:black">Current Scroll Mode: {{scrollMode}}</div>
            <button class="custom-button squareButton" ng-click="changeScrollMode()">
                Change Scroll Mode To {{oppositeScrollMode}}
            </button>
        </div>

    </div>

    </body>
</html>
