<!DOCTYPE html>
<html>
    <head>
        <title>Wired Up 1.0</title>
        <link rel ="icon" type ="image/x-icon" href="./assets/favicon.png">
        <link rel="stylesheet" href="assets/index.css">

        <!-- the following says there are javascript source code contained in
             the external source files
        -->
        <!-- external library -->
        <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> -->
        <script type="text/javascript" src="src/lib/Angular.js"></script>
        <script type="text/javascript" src="src/lib/gl-matrix.js"></script>
        <script type="text/javascript" src="src/lib/webgl-obj-loader.js"></script>

        <!-- Engine code: Graphics Support -->
        <!-- Core of Engine -->
        <script type="text/javascript" src="src/Engine/Core/Engine_Core.js"></script>
        <script type="text/javascript" src="src/Engine/Core/Engine_VertexBuffer.js"></script>
        <script type="text/javascript" src="src/Engine/Core/Engine_MouseSupport.js"></script>
        <script type="text/javascript" src="src/Engine/SimpleShader.js"></script>
        <script type="text/javascript" src="src/Engine/Renderable/Renderable.js"></script>
        <script type="text/javascript" src="src/Engine/Renderable/SquareRenderable.js"></script>
        <script type="text/javascript" src="src/Engine/Renderable/SquareBorder.js"></script>
        <script type="text/javascript" src="src/Engine/Renderable/CircleRenderable.js"></script>
        <script type="text/javascript" src="src/Engine/Renderable/MeshRenderable.js"></script>
        <script type="text/javascript" src="src/Engine/Renderable/SceneNode.js"></script>
        <script type="text/javascript" src="src/Engine/Transform/Transform.js"></script>
        <script type="text/javascript" src="src/Engine/Transform/PivotedTransform.js"></script>
        <script type="text/javascript" src="src/Engine/Camera/Camera.js"></script>
        <script type="text/javascript" src="src/Engine/Camera/Camera_Mouse.js"></script>

        <!-- GUI Lib -->
        <script type="text/javascript" src="src/GUI/CSS450Timer.js"></script>
        <script type="text/javascript" src="src/GUI/CSS450Slider.js"></script>
        <script type="text/javascript" src="src/GUI/CSS450Xform.js"></script>
        <script type="text/javascript" src="src/GUI/CanvasMouseSupport.js"></script>

        <!-- My application code -->
        <script type="text/javascript" src="src/MainController.js"></script>
        <script type="text/javascript" src="src/App/ClassExample.js"></script>
        <script type="text/javascript" src="src/App/ClassExample_MouseOver.js"></script>
        <script type="text/javascript" src="src/App/ArmSegment.js"></script>
        <script type="text/javascript" src="src/App/SceneNodeManipulator.js"></script>
        <script type="text/javascript" src="src/App/ViewManipulator.js"></script>
        <script type="text/javascript" src="src/App/Dragger.js"></script>
    </head>

    <body
         ng-app="appMyExample"
         ng-controller="MainCtrl">

    <css-timer id="idMainControllerTimer"
               interval="40"
               timeron="true"
               callback="mainTimerHandler"></css-timer>

    <br>

    <div class="container">
        <h2>
            Hierarchical Modeling and Direct Manipulation
        </h2>

        <div class="sidebar">
            <h3>Shape Picker</h3>
            <br>
            <p>Current Shape: {{mSelectedShape}}</p>
            <br>

            <button class="button squareButton" ng-click="addSelectedShape('circle')">Circle</button>
            <button class="button squareButton" ng-click="addSelectedShape('square')">Square</button>
            <button class="button squareButton" ng-click="addSelectedShape('triangle')">Triangle</button>
            <button class="button squareButton" ng-click="">
                Combine Into One SceneNode
            </button>

        </div>


        <div style="display: inline-block">
            Mouse Over
            <br>
            <input class="textfield" type="text" ng-model="mMouseOver" size=50 readonly>
            <br>
            <br>
        </div>
        <br>
        <canvas
            ng-mousemove="serviceMove($event)"
            ng-mousedown="serviceDown($event)"
            ng-mouseup="serviceUp($event)"
            ng-mouseleave="serviceLeave($event)"
            id="GLCanvas" width="800" height="600">
            <!-- GLCanvas is the area we will draw in: a 640x480 area. -->
            Your browser does not support the HTML5 canvas.
            <!-- this message will show only if WebGL clearing failed -->
        </canvas>
    </div>

    </body>
</html>
