body {
	background-color: rgb(90, 91, 96);
    margin: 0;
    -webkit-user-select: none; 
    user-select:none;
}

#container {
    /*margin: 0 0;
    padding: 0 0;*/
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#canvas-wrapper {
    position: absolute;
    left: 250px;
    top: 100px;
    right: 0;
    bottom: 0;
}


.header {
    position: absolute;
    top: 0; left: 250px; right: 0; bottom: 0; 
    height: 100px;
    background: rgb(132, 133, 135);
}

.logo-wrapper {
    position: absolute;
    top: 0; 
    left: 0;
    width: 250px;
    height: 100px;
    background: rgb(54, 54, 54);
}

.logo {
    width: 100%;
    height: 100%;
    background: url(../icons/wired-up-logo.png) no-repeat;
    background-size: 200px 100px;
    background-position: 20px 0px;
}

div.icon:hover {
    background-color: rgb(71, 71, 71);
    cursor: pointer;
}

.menu-bar-container {
    display: inline-block;
    height: 50px;
    width: 100%;
}

.menu-bar-button {
    float: left;
    height: 42px;
    width: 42px;
    margin: 4px 2px;
    line-height: 42px;
}

.delete-icon {
    width: 100%;
    height: 100%;
    background: url(../icons/delete-icon.png) no-repeat;
    background-size: 21px 21px;
    background-position: 10px 10px;
}

.merge-icon {
    width: 100%;
    height: 100%;
    background: url(../icons/merge-icon.png) no-repeat;  
    background-size: 21px 21px;
    background-position: 10px 10px;
}

.zoom-icon {
    width: 100%;
    height: 100%;
    background: url(../icons/zoom-icon.png) no-repeat;
    background-size: 21px 21px;
    background-position: 10px 10px;
}

.icon {
    margin: 0 5px;
    background: rgb(54, 54, 54);
    border-radius: 8px;
}

.icon:hover {
    background-color: white;
}


.textfield {
    display: inline-block;
    text-align: center;
    width: 100px;
    border-radius: 5px;
    height: 24px;
    border: 1px solid black;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
