body {
	background-color: rgb(90, 91, 96);
    margin: 0;
    -webkit-user-select: none; 
    user-select:none;
    scroll-behavior: no;
}

#container {
    /*margin: 0 0;
    padding: 0 0;*/
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#canvas-wrapper {
    position: absolute;
    left: 250px;
    top: 0;
    right: 0;
    bottom: 0;
}


.logo-wrapper {
    position: absolute;
    top: 0; 
    left: 0;
    width: 250px;
    height: 100px;
    background: rgb(54, 54, 54);
}

.logo {
    width: 100%;
    height: 100%;
    background: url(../icons/wired-up-logo.png) no-repeat;
    background-size: 200px 100px;
    background-position: 20px 0px;
}

.icon {
    margin: 0 5px;
    background: rgb(54, 54, 54);
    border-radius: 8px;
}


.textfield {
    display: inline-block;
    text-align: center;
    width: 100px;
    border-radius: 5px;
    height: 24px;
    border: 1px solid black;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
